<h2>Categorias</h2>
<hr>
<a href="/admin/categorias/add"><button type="button" name="button" class="mb-3 btn btn-info">Nova Categoria</button></a>
<div class="row">
  <div class="col">
    {{#each categorias}}
      <div class="card my-2">
        <div class="card-body">
          <h4>{{nome}}</h4> - <small>{{date}}</small>
          <p>{{slug}}</p>
          <a href="/admin/categorias/edit/{{id}}"><button class="btn btn-primary">Editar</button></a>
          <a href="/admin/categorias/delete/{{id}}"><button class="btn btn-danger">Deletar</button></a>
        </div>
      </div>
      {{else}}
        <h4 class="my-5">Não Há categorias registradas</h4>
    {{/each}}
  </div>
</div>
